<!DOCTYPE html>
<html>
<head>
	<title>Leaflet Quick Start Guide Example</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
</head>
<body>

  <%= @track.name %>
	<div id="mapid" style="width: 100%; height:60vh"></div>
  <% @track.coordinates.map do |c| %>
    <br><%= c.latitude.to_s %>, <%= c.longitude.to_s  %>
  <% end %>

	<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
	<script>
    var coords = [
    <% @track.coordinates.map do |c| %>
      [<%= c.longitude.to_s %>, <%= c.latitude.to_s  %>],
    <% end %>]
		var mymap = L.map('mapid').setView(coords[0], 18);

		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiY2RlaWdodG9uIiwiYSI6ImNpczJrNGV6dDAxM3gyemxrNWlzd3Njbm8ifQ.vv_McJTtMa2DmJNmDVypNA', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'mapbox.streets'
		}).addTo(mymap);

    var polygon = L.polyline(coords, {color: 'green'}).addTo(mymap).bindPopup("I am a polygon.");
    navigator.geolocation.getCurrentPosition(function(pos) {mymap.setView(pos, 18);});
	</script>
</body>
</html>
